[Unit]
Description=GoXLR Daemon
After=network.target

[Service]
ExecStart=/usr/bin/goxlr-daemon
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
